@page
@model Book_Store.Pages.CategoryOfBooks.IndexModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].BookCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookCategoryName)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookCategoryId"><img src="~/img/edit.png" height="22px" width="22px" /> </a> |
                    <a asp-page="./Details" asp-route-id="@item.BookCategoryId"><img src="~/img/details.png" height="22px" width="22px" /></a> |
                    <a asp-page="./Delete" asp-route-id="@item.BookCategoryId"><img src="~/img/delete.png" height="22px" width="22px" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
